In [15]:
import numpy as np
import pandas as pd
import os

In [60]:
df = pd.read_csv('Data/Household_data.csv',sep=",",skiprows=2)

In [79]:
df.rename(columns = {' .2':'Kommune',' .1':'age' })

,,age,Kommune,1 person,2 personer,3 personer,4 personer,5 personer,6 personer og derover
0,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,,Under 20 år,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,,,København,674.0,879.0,567.0,302.0,149.0,290.0
3,,,Frederiksberg,91.0,132.0,75.0,29.0,8.0,26.0
4,,,Dragør,2.0,4.0,5.0,3.0,4.0,1.0
...,...,...,...,...,...,...,...,...,...
996,,,Morsø,4.0,0.0,0.0,0.0,0.0,0.0
997,,,Rebild,3.0,0.0,0.0,0.0,0.0,0.0
998,,,Thisted,5.0,1.0,0.0,0.0,0.0,0.0
999,,,Vesthimmerlands,12.0,0.0,0.0,0.0,0.0,0.0
1000,,,Aalborg,41.0,0.0,0.0,0.0,0.0,0.0

In [99]:
list_of_kommuner = []
for entry in df[' .2']:
    if entry not in list_of_kommuner:
        list_of_kommuner.append(entry)
list_of_kommuner.pop(0)

nan

In [100]:
list_of_kommuner

['København',
 'Frederiksberg',
 'Dragør',
 'Tårnby',
 'Albertslund',
 'Ballerup',
 'Brøndby',
 'Gentofte',
 'Gladsaxe',
 'Glostrup',
 'Herlev',
 'Hvidovre',
 'Høje-Taastrup',
 'Ishøj',
 'Lyngby-Taarbæk',
 'Rødovre',
 'Vallensbæk',
 'Allerød',
 'Egedal',
 'Fredensborg',
 'Frederikssund',
 'Furesø',
 'Gribskov',
 'Halsnæs',
 'Helsingør',
 'Hillerød',
 'Hørsholm',
 'Rudersdal',
 'Bornholm',
 'Christiansø',
 'Greve',
 'Køge',
 'Lejre',
 'Roskilde',
 'Solrød',
 'Faxe',
 'Guldborgsund',
 'Holbæk',
 'Kalundborg',
 'Lolland',
 'Næstved',
 'Odsherred',
 'Ringsted',
 'Slagelse',
 'Sorø',
 'Stevns',
 'Vordingborg',
 'Assens',
 'Faaborg-Midtfyn',
 'Kerteminde',
 'Langeland',
 'Middelfart',
 'Nordfyns',
 'Nyborg',
 'Odense',
 'Svendborg',
 'Ærø',
 'Billund',
 'Esbjerg',
 'Fanø',
 'Fredericia',
 'Haderslev',
 'Kolding',
 'Sønderborg',
 'Tønder',
 'Varde',
 'Vejen',
 'Vejle',
 'Aabenraa',
 'Favrskov',
 'Hedensted',
 'Horsens',
 'Norddjurs',
 'Odder',
 'Randers',
 'Samsø',
 'Silkeborg',
 'Skanderborg',
 'Syddjurs',
 'Aarhus',
 'Herning',
 'Holstebro',
 'Ikast-Brande',
 'Lemvig',
 'Ringkøbing-Skjern',
 'Skive',
 'Struer',
 'Viborg',
 'Brønderslev',
 'Frederikshavn',
 'Hjørring',
 'Jammerbugt',
 'Læsø',
 'Mariagerfjord',
 'Morsø',
 'Rebild',
 'Thisted',
 'Vesthimmerlands',
 'Aalborg']