In [101]:
import numpy as np
import pandas as pd
import os

In [206]:
adult_header = ['year',' age_group', 'Kommune', '1 person', '2 personer', '3 personer', '4 personer', '5 personer', '6 personer og derover']
children_header = ['year','n people', 'Kommune', '0-4', '5-9','10-14','15-19']
df_adults = pd.read_excel('Data/Household_data_adults.xlsx',header=None,names=adult_header)
df_children = pd.read_excel('Data/Household_data_children.xlsx',header= None,names=children_header)

In [222]:
df_adults[df_adults['Kommune']=='København']
#df_adults[df_adults['Kommune']=='København'].loc[:,'1 person']

,year,age_group,Kommune,1 person,2 personer,3 personer,4 personer,5 personer,6 personer og derover
0,2020,20-29 år,København,31452,64394,27172,11976,4868,6559
99,2020,30-39 år,København,21960,34113,28369,21354,6705,5636
198,2020,40-49 år,København,16873,16835,15183,20653,8044,4460
297,2020,50-59 år,København,19674,21932,11941,7560,2570,2226
396,2020,60-69 år,København,18308,19893,3798,1539,576,729
495,2020,70-79 år,København,16152,13348,1201,449,206,266
594,2020,80-89 år,København,7217,2959,237,85,45,62
693,2020,90-99 år,København,2107,279,18,9,12,3
792,2020,100 år og derover,København,82,1,0,1,0,1

In [174]:
list_of_kommuner=list(set(list(df_adults.Kommune)))
Household_size = ['1 person', '2 personer', '3 personer', '4 personer', '5 personer', '6 personer og derover']
ages_in_children = ['0-4', '5-9','10-14','15-19']
age_groups = ['0-9','10-19','20-29','30-39','40-49','50-59','60-69','70+']

In [230]:
household_dist_kommune = []
age_dist_per_household = []
for kommune in list_of_kommuner:
    household_dist_kommune_single = [kommune]
    for size in Household_size:
        sizesum = 0
        for age in ages_in_children:
            sizesum += df_children[df_children['Kommune']==kommune][df_children['n people']==size][age]
        sizesum += sum(list(df_adults[df_adults['Kommune']==kommune].loc[:,size]))
        household_dist_kommune_single.append(list(sizesum))       
    household_dist_kommune.append(household_dist_kommune_single)
    
    age_dist_single_kommune = [kommune]
    for size in Household_size:
        single_size = []
        s09 = df_children[df_children['Kommune']==kommune][df_children['n people']==size]['0-4']
        s09 += df_children[df_children['Kommune']==kommune][df_children['n people']==size]['5-9']
        single_size.append(int(s09))
        s1019 = df_children[df_children['Kommune']==kommune][df_children['n people']==size]['10-14']
        s1019 += df_children[df_children['Kommune']==kommune][df_children['n people']==size]['15-19']
        single_size.append(int(s1019))
        for age in range(5):
            single_size.append(df_adults[df_adults['Kommune']==kommune].loc[:,size].iloc[age])
        single_size.append(sum(df_adults[df_adults['Kommune']==kommune].loc[:,size].iloc[5:]))
        age_dist_single_kommune.append(list(single_size))
    age_dist_per_household.append(age_dist_single_kommune)

<ipython-input-230-ed831c1514ed>:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  sizesum += df_children[df_children['Kommune']==kommune][df_children['n people']==size][age]
<ipython-input-230-ed831c1514ed>:16: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  s09 = df_children[df_children['Kommune']==kommune][df_children['n people']==size]['0-4']
<ipython-input-230-ed831c1514ed>:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  s09 += df_children[df_children['Kommune']==kommune][df_children['n people']==size]['5-9']
<ipython-input-230-ed831c1514ed>:19: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  s1019 = df_children[df_children['Kommune']==kommune][df_children['n people']==size]['10-14']
<ipython-input-230-ed831c1514ed>:20: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  s1019 += df_children[df_children['Kommune']==kommune][df_children['n people']==size]['15-19']

In [150]:
for kommune in list_of_kommuner:
    single_kommune_list = [kommune]
    sum04 = sum(df_children[df_children['Kommune']==kommune]['0-4'])
    sum59 = sum(df_children[df_children['Kommune']==kommune]['5-9'])
    single_kommune_list.append(sum04+sum59)
    sum1014 = sum(df_children[df_children['Kommune']==kommune]['10-14'])
    sum1419 = sum(df_children[df_children['Kommune']==kommune]['14-19'])
    single_kommune_list.append(sum1014+sum1419)

     year               n people Kommune   0-4   5-9  10-14  15-19
29   2020               1 person   Greve     1     1      6      7
128  2020             2 personer   Greve   105   143    225    281
227  2020             3 personer   Greve   725   409    570    829
326  2020             4 personer   Greve  1271  1489   1522   1255
425  2020             5 personer   Greve   475   651    646    502
524  2020  6 personer og derover   Greve   246   295    309    255

In [161]:
df_children[df_children['Kommune']=='Greve'][df_children['n people']=='1 person']['0-4', '5-9','10-14','15-19']

<ipython-input-161-0e359e1d9213>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_children[df_children['Kommune']=='Greve'][df_children['n people']=='1 person']['0-4', '5-9','10-14','15-19']

KeyError: ('0-4', '5-9', '10-14', '15-19')

In [278]:
household_dist = pd.DataFrame(household_dist_kommune)
age_dist = pd.DataFrame(age_dist_per_household)

In [256]:
household_dist = household_dist.set_index(0)
household_dist.to_csv('household_dist.csv')

In [237]:
age_dist_per_household = np.array(age_dist_per_household)

<ipython-input-237-42ee6071e6c3>:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  age_dist_per_household = np.array(age_dist_per_household)

In [276]:
len(age_dist.iloc[0].loc[1])-1

8

In [246]:
age_dist.to_csv('age_dist_kommuner.csv')

In [279]:
household_dist = household_dist.set_index(0)

In [288]:
age_dist = age_dist.set_index(0)

In [294]:
age_dist.loc['Vejle']

1    [1 person, 1, 21, 2340, 1791, 2026, 3092, 3065...
2    [2 personer, 555, 1065, 4093, 2341, 2481, 6929...
3    [3 personer, 2560, 2807, 2073, 2859, 2681, 348...
4    [4 personer, 6073, 5985, 1074, 4438, 5529, 204...
5    [5 personer, 2916, 3375, 383, 1495, 2432, 671,...
6    [6 personer og derover, 1031, 1161, 508, 704, ...
Name: Vejle, dtype: object